<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhny.fishguard.dao.EmployeeDao">
<!-- 查询所有员工 -->
	<select id="findEmployee"  resultType="map">
         select date_format(#{hiredtae,’%Y-%m-%d’) from emp;
	</select>
<!--添加员工-->
	<select id="addemployee" parameterType="Map">
		insert into emp VALUES (null,#{name},#{phone},#{hiredate},#{role},now());
	</select>
</mapper>
